
    body {
      margin: 0;
      background-color: #f2efe7;
    }

    .containerHorizontal{
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .containerPai{
      width: 50%;
      height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cardEsquerda{
      width: 90%;
      height: 550px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .cardEsquerda h1{
      font-family: 'Playfair Display', serif;
      font-size: 70px;
      line-height: 1.1;
      color: black;
      font-weight: 600;
      margin: 0px;
    }

    .palavraAzul{
      color: #40bfff;
    }

    .cardEsquerda p{
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      /* controlar o ajuste ótico do tamanho da fonte, ou seja, se a fonte deve se adaptar visualmente ao seu tamanho para melhorar a legibilidade e aparência. */
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 1.6;
      color: black;
      width: 300px;
    }

    .formContainer{
      border-radius: 15px;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); 
      width: 90%;
      height: 550px;
      display: flex;
      justify-content: center;
      align-items: center;
    } 

    form{
      width: 95%;
      height: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;  
    }

    .form-group label{
      display: block;
      margin-bottom: 8px;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      line-height: 1.2;
      color: black;
      font-weight: 600;
      width: 90%;
    } 

    input::placeholder{
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      line-height: 1.6;
      color: black;
      width: 90%;
    }

    textarea::placeholder{
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      line-height: 1.6;
      color: black;
      width: 90%;
    }
    .form-group {
      margin-bottom: 20px;
      width: 90%;
    }
  
    .form-group input,
    .form-group textarea {
      width: 90%;
      padding: 10px;
      border-style: none;
      border-radius: 10px;
      transition: all 0.3s ease;
      /* transição suave para todas as propriedades animáveis de um elemento quando elas mudam. */
      font-size: 15px;
      height: 14px;
    } 

    .form-group input:focus,
    .form-group textarea:focus {
      border-color: black;
      box-shadow: 0 0 8px rgba(116, 235, 213, 0.5);
      outline: none;
      /* Linha vermelha ou azul do focus desativada */
    } 

    .form-group textarea {
      resize: vertical;
      /* Borda para scroll */
      min-height: 100px;
    } 

    .form-button {
      display: block;
      width: 90%;
      padding: 12px;
      background: #40bfff;
      color:  black;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      transition: 0.3s ease;
      margin-top: 10px;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      line-height: 1.1;
      font-weight: 600;
    } 

    .form-button:hover {
      background: #65c4f7 ;
    } 
